<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <base href="http://127.0.0.1:5500/" target="_blank"> -->

    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/utility_functions.js"></script>

    <title>Family Management App</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/menu.ejs') %>

            <div class="content-container">
                <main id="add-here" class="grid-content meeting-content">
                    <article id="element" class="grid-item meet">
                        <h1><i class="fa fa-map-marker"></i>La ceainarie</h1>
                        <br>
                        <p><i class="fa fa-calendar"></i><b>Data:</b> 20/06/2025</p>
                        <br>
                        <p><i class="fa fa-clock-o"></i><b>Ora:</b> 12:45</p>
                        <br>
                        <p><i class="fa fa-child"></i><b>Vin:</b> Ionel Popescu</p>
                        <br>
                        <p><i class="fa fa-info-circle"></i>Intrunire nefireasca</p>
                        <br>
                        <button>Vin si eu!</button>
                    </article>

                    <article id="element" class="grid-item meet">
                        <h1><i class="fa fa-map-marker"></i>La ceainarie</h1>
                        <br>
                        <p><i class="fa fa-calendar"></i><b>Data:</b> 20/06/2025</p>
                        <br>
                        <p><i class="fa fa-clock-o"></i><b>Ora:</b> 12:45</p>
                        <br>
                        <p><i class="fa fa-child"></i><b>Vin:</b> Ionel Popescu</p>
                        <br>
                        <p><i class="fa fa-info-circle"></i>Intrunire nefireasca</p>
                        <br>
                        <button>Vin si eu!</button>
                    </article>

                    <article id="element" class="grid-item meet">
                        <h1><i class="fa fa-map-marker"></i>La ceainarie</h1>
                        <br>
                        <p><i class="fa fa-calendar"></i><b>Data:</b> 20/06/2025</p>
                        <br>
                        <p><i class="fa fa-clock-o"></i><b>Ora:</b> 12:45</p>
                        <br>
                        <p><i class="fa fa-child"></i><b>Vin:</b> Ionel Popescu</p>
                        <br>
                        <p><i class="fa fa-info-circle"></i>Intrunire nefireasca</p>
                        <br>
                        <button>Vin si eu!</button>
                    </article>

                    <article id="element" class="grid-item meet">
                        <h1><i class="fa fa-map-marker"></i>La ceainarie</h1>
                        <br>
                        <p><i class="fa fa-calendar"></i><b>Data:</b> 20/06/2025</p>
                        <br>
                        <p><i class="fa fa-clock-o"></i><b>Ora:</b> 12:45</p>
                        <br>
                        <p><i class="fa fa-child"></i><b>Vin:</b> Ionel Popescu</p>
                        <br>
                        <p><i class="fa fa-info-circle"></i>Intrunire nefireasca</p>
                        <br>
                        <button>Vin si eu!</button>
                    </article>

                    <article id="add-meet-container" class="grid-item meet center-button">
                        <button id="add-meet-content">Add Meet At End</button>
                        <button id="delete-meet-content">Delete First Meet</button>
                    </article>
                </main>
            </div>

            <%- include('../partials/footer.ejs') %>

</body>

</html>