<header class="slideshow">
    <div class="container">
        <p id="change-slideshow-picture">
            <img src="/galerie/img3.jpg" alt="slideshow-picture" id="slideshow-picture">
        </p>
        <button id="logout-button"><a href="/logout" id="reference">Logout</a></button>
    </div>
</header>