<nav class="menu">
    <ul class="dropdown1">
        <li class="mobile-menu"><a><i class="fa fa-bars"></i></a></li>
        <li class="drop-hide"><a href="/index"><i class="fa fa-home"></i>Home</a></li>
        <li class="drop-hide"><a href="/transports"><i class="fa fa-car"></i>Transport</a></li>
        <li class="drop-hide"><a href="/transports/new"><i class="fa fa-car"></i>Add Transport</a></li>
        <li class="drop-hide"><a href="/meetings"><i class="fa fa-glass"></i>Meetings</a></li>
        <li class="drop-hide"><a href="/movies"><i class="fa fa-film"></i>Movies</a></li>
        <li class="drop-hide"><a href="/gifts"><i class="fa fa-globe"></i>Gifts</a></li>
        <li class="dropdown2 drop-hide"><a href="/photo"><i class="fa fa-camera-retro"></i>Foto</a>
            <ul>
                <li><a href="/photo">Figure galery</a></li>
                <li><a href="/polaroid">Polaroid Galery</a></li>
            </ul>
        </li>
    </ul>
</nav>