<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Family Management App</title>
</head>

<body>
    <div class="contact_form">
        <h2>Are you sure you want to logout?</h2>

        <form action="/logout" method="POST">
            <button type="submit">Log out</button>
        </form>

    </div>
</body>

</html>