<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <base href="http://127.0.0.1:5500/" target="_blank"> -->

    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/transport.js"></script>

    <title>Family Management App</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>
        <%- include('../partials/menu.ejs') %>

            <div class="content-container">
                <main class="grid-content transport-content" id="content">
                    <article id="add-content" class="grid-item ride center-button">
                        <button id="add"><a href="/transports/new" id="go_to_new">Add Transport</a></button>
                    </article>
                </main>
            </div>

            <%- include('../partials/footer.ejs') %>
</body>

</html>