<div class="content-container">
    <main class="grid-content transport-content" id="content">
        <article id="add-content" class="grid-item ride center-button">
            <button id="add">Adauga</button>
        </article>
    </main>
</div>