<div class="content-container">
    <h2>New Transport</h2>
    <br>
    <form action="/transports" method="POST">
        <%- include('_form_fields') %>
            <a href="/transports" id="cancel">Cancel</a>
            <button type="submit" id="create">Create</button>
    </form>
</div>