<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <base href="http://127.0.0.1:5500/" target="_blank"> -->

    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/utility_functions.js"></script>

    <title>Family Management App</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>
        <%- include('../partials/menu.ejs') %>

            <div class="content-container">
                <main class="grid-content movie-content">
                    <article class="grid-item movie">
                        <h1>Instant Family</h1>
                        <br>
                        <iframe class="trailer" src="https://www.youtube.com/embed/IUfZq3DUd3Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>

                    <article class="grid-item movie">
                        <h1>Little woman</h1>
                        <br>
                        <iframe class="trailer" src="https://www.youtube.com/embed/F6_2RpKqJ7k" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>

                    <article class="grid-item movie">
                        <h1>The Art of Racing in the Rain</h1>
                        <br>
                        <iframe class="trailer" src="https://www.youtube.com/embed/Dp2ufFO4QGg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>

                    <article class="grid-item movie">
                        <h1>Instant Family</h1>
                        <br>
                        <iframe class="trailer" src="https://www.youtube.com/embed/IUfZq3DUd3Y" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>


                </main>
            </div>

            <%- include('../partials/footer.ejs') %>

</body>

</html>