<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <base href="http://127.0.0.1:5500/" target="_blank"> -->

    <link rel="stylesheet" href="/style.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="/utility_functions.js"></script>

    <title>Family Management App</title>
</head>

<body>

    <%- include('../partials/header.ejs') %>
        <%- include('../partials/menu.ejs') %>

            <div class="content-container">
                <section class="galerie">
                    <figure>
                        <img src="galerie/fam1.jpg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/03/2015</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam2.jpg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 24/03/2018</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam3.jpeg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/03/2015</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam8.jpeg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/07/2000</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam4.jpeg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 1/03/2013</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam5.jpg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/03/2015</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam6.jpeg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/07/2000</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam6.jpeg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/07/2000</figcaption>
                    </figure>

                    <figure>
                        <img src="galerie/fam6.jpeg" alt="Kooaburra" class="fig-img">
                        <figcaption>Foto 20/07/2000</figcaption>
                    </figure>

                </section>
            </div>

            <%- include('../partials/footer.ejs') %>
</body>

</html>